
.rightside{
  background-color: #2196F3;
  color: white;
  height: 300px;

}

.rightside i{
margin-left: 10px;
margin-right: 10px;
}


.subsub {
  background-color: black;
  font-family: Calibri;
  height: 300px;
}

.subsub a{
  display: block;
  color: white;
  text-decoration: none;
  background-color: inherit;
  border-radius: 5px;
  font-size: 20px;

}

.subsub a:hover{
  transition: color .9s ease;
  color: cyan;
  background-color: black;
  transition: background-color .9s ease;
}


.subsub .overlay-exp{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.subsub img{
  opacity: 0.7;
}

.subsub img:hover{
  transition: .9s ease;
  opacity: 0.4;
}

#wholepart div{
  padding: 0;
  margin: 0;
}

#wholepart .col-sm-5, .col-sm-7{
  margin: 0;
}

.overlay-exp p{
  margin: 0;
}
