<configuration>
<system.webServer>
<rewrite>
    <rules>
      <rule name="http to https new" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
              <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://vinnitsanmu.com/{R:0}" />
      </rule>
    	       <rule name="DefaultRule" stopProcessing="true">
                    <match url="^index" />
                    <action type="Redirect" url="https://vinnitsanmu.com" />
              </rule>

              <rule name="Hide .php ext">
           <match ignoreCase="true" url="^(.*)" />
           <conditions>
               <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
               <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
               <add input="{REQUEST_FILENAME}.php" matchType="IsFile" />
           </conditions>
           <action type="Rewrite" url="{R:0}.php" />
       </rule>
       <rule name="Redirecting .php ext" stopProcessing="true">
           <match url="^(.*).php" />
           <conditions logicalGrouping="MatchAny">
               <add input="{URL}" pattern="(.*).php" />
           </conditions>
           <action type="Redirect" url="{R:1}" />
       </rule>


</rules>

</rewrite>
<httpErrors errorMode="Custom" defaultResponseMode="File">
	 <remove statusCode="403" />
         <remove statusCode="404" />
         <remove statusCode="500" />
         <error statusCode="403" path="https://vinnitsanmu.com" responseMode="Redirect" />
         <error statusCode="404" path="https://vinnitsanmu.com" responseMode="Redirect" />
         <error statusCode="500" path="400.php" />
       </httpErrors>
              <staticContent>

</staticContent>
</system.webServer>
</configuration>
